html,
body {
	height: 100%;
}

body {
	background: #fff;
	color: #444;
	font: normal 400 16px/1.4 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

strong {
	font-weight: 700;
}

/*----------------------------------------------------------
	#VARIABLES
----------------------------------------------------------*/
@custom-media --mobile (width <= 600px);

/*----------------------------------------------------------
	#WIDTH LIMITER
----------------------------------------------------------*/
.o-width-limiter {
	max-width: 1440px;
	padding: 0 20px;
	margin: 0 auto;
}

.o-width-limiter--x-large {
	max-width: 1120px;
}

.o-width-limiter--large {
	max-width: 1000px;
}

.o-width-limiter--medium {
	max-width: 960px;
}

.o-width-limiter--small {
	max-width: 800px;
}

.o-width-limiter--x-small {
	max-width: 700px;
}

/*----------------------------------------------------------
	#GRID
----------------------------------------------------------*/
.o-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -10px;
}

.o-grid__col {
	padding: 0 10px;
}

.o-grid__col--1 {
	width: 100%;
}

.o-grid__col--2 {
	width: 50%;
}

@media screen and (max-width: 800px) {
	.o-grid__col--2 {
		width: 100%;
	}
}

.o-grid__col--3 {
	width: 30%
}

@media screen and (max-width: 800px) {
	.o-grid__col--3 {
		width: 100%;
	}
}

/* Variant with more padding */
.o-grid--airy {
	margin: 0 -20px;
}

.o-grid--airy .o-grid__col {
	padding: 0 20px;
}

/*----------------------------------------------------------
	#HERO || https://unsplash.com/ || http://keithclark.co.uk/articles/pure-css-parallax-websites/
----------------------------------------------------------*/
.c-hero {
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #222;
}

@media(--mobile) {
	.c-hero {
		transition: height 999999s ease; /* Prevent jumpy behavior on mobile when using full page background */
	}
}

.c-hero--small {
	height: 400px;
}

.c-hero:after {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	content: '';
	width: 100%;
	height: 100%;
}

.c-hero__overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,1);
	opacity: 0;
	content: '';
	width: 100%;
	height: 100%;
}

.c-hero__inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
	word-wrap: break-word;
	z-index: 2;
}

.js .c-hero__inner {
	display: none;
}

.c-hero__heading {
	color: #fff;
	font-size: 64px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 30px;
	transition: all 0.6s ease;
}

@media screen and (max-width: 1280px) {
	.c-hero__heading {
		font-size: 56px;
	}
}

@media screen and (--mobile) {
	.c-hero__heading {
		font-size: 40px;
	}
}

.c-hero__random-word {
	color: #FFCC00;
}

.c-hero__profile-image {
	max-width: 100px;
}

.c-hero__arrow,
.c-hero__arrow:visited {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: block;
	font-size: 30px;
	line-height: 0;
	color: #fff;
	z-index: 2;
	cursor: pointer;
}

.c-hero__arrow--active {
	animation: fadeInOut 2s infinite;
}

.c-hero__meta {
	font-size: 0;
	margin-bottom: 90px;
}

.c-hero__meta-item {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 1.7;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-right: 30px;
}

.c-hero__meta-item:after {
	position: absolute;
	top: 50%;
	right: -18px;
	transform: translateY(-50%);
	display: inline-block;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

.c-hero__meta-item:last-child:after {
	content: none;
}

/*----------------------------------------------------------
	#NAV
----------------------------------------------------------*/
.c-nav {
	position: absolute;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 15px 20px;
	z-index: 1;
	transition: all 0.6s ease;
}

.c-nav--sticky {
	position: fixed;
	top: 0;
	-webkit-transform: translateZ(0);
}

.c-nav--active {
	background: rgba(255,255,255,0.95);
}

.c-nav--hide {
	top: -52px;
}

.c-nav--push-down {
	top: 50px;
}

.c-nav__list {
	align-self: center;
}

@media(--mobile) {
	.c-nav__list {
		float: none;
	}
}

.c-nav__item {
	display: inline-block;
	margin-right: 32px;
}

@media(--mobile) {
	.c-nav__item {
		margin-right: 10px;
	}
}

.c-nav__item:last-child {
	margin-right: 0;
}

.c-nav__link,
.c-nav__link:visited {
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
	transition: all .2s ease-in-out;
}

.c-nav--dark .c-nav__link,
.c-nav--dark .c-nav__link:visited {
	color: #222;
}

.c-nav__link:hover {
	border-color: #fff;
}

.c-nav--active .c-nav__link {
	color: #222;
}

.c-nav--dark .c-nav__link:hover,
.c-nav--active .c-nav__link:hover,
.c-nav__link--active {
	border-color: #222;
}

@media(--mobile) {
	.c-nav__link:hover,
	.c-nav--active .c-nav__link:hover,
	.c-nav--active .c-nav__link:focus,
	.c-nav--active .c-nav__link:active {
		border-color: transparent;
	}
}

/*----------------------------------------------------------
	#SECTION
----------------------------------------------------------*/
.c-section {
	padding: 160px 0;
}

@media(--mobile) {
	.c-section {
		padding: 80px 0;
	}
}

.c-section--limited {
	padding: 80px 0;
}

.c-section--confined {
	padding: 0;
}

/*----------------------------------------------------------
	#FOOTER
----------------------------------------------------------*/
.c-footer {
	background: #222;
	margin-top: 160px;
	padding: 80px 0;
}

.c-footer--airy {
	background: #fff;
}

.c-footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media(--mobile) {
	.c-footer__inner {
		flex-direction: column-reverse;
	}
}

.c-footer__heading {
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
	/*text-transform: uppercase;*/
}

@media(--mobile) {
	.c-footer__list {
		margin-bottom: 20px;
	}
}

.c-footer__item {
	display: inline-block;
	margin-right: 10px;
}

.c-footer__item:last-child {
	margin-right: 0;
}

.c-footer__link,
.c-footer__link:visited {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
	/*text-transform: uppercase;*/
	transition: color .2s ease-in-out;
}

.c-footer__link:hover {
	color: #999;
}

.c-footer__link:hover .c-footer__social-icon {
	opacity: 0.7;
}

.c-footer__social-icon {
	display: block;
	width: 30px;
	transition: opacity .2s ease-in-out;
}

/*----------------------------------------------------------
	#BUTTON
----------------------------------------------------------*/
.c-btn {
	color: #999;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	border: 1px solid #999;
	border-radius: 6px;
	padding: 15px 25px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

.c-btn:hover {
	border-color: #444;
	color: #444;
}

.c-btn--secondary {
	border-color: #fff;
	color: #fff;
}

.c-btn--secondary:hover {
	background: none;
	color: #fff;
	border-color: #fff;
	opacity: 0.6;
}

.c-btn--small {
	font-size: 12px;
	padding: 15px 20px;
}

.c-btn--x-small {
	font-size: 12px;
	padding: 10px 15px;
}

.c-btn--large {
	display: block;
	width: 100%;
}

.c-btn--light {
	color: #cacaca;
	border-color: #cacaca;
}

.c-btn--login {
	color: #fff;
	border-color: #fff;
	font-size: 12px;
	font-weight: 400;
	border-color: #999;
}

.c-btn--login:hover {
	color: #999;
	border-color: #fff;
}

/*----------------------------------------------------------
	#LOADING SCREEN
----------------------------------------------------------*/
.js .c-loading-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100vh;
	background: #fff;
}

.js .c-loading-screen__inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.js .c-loading-screen__message {
	text-transform: uppercase;
	animation: fadeInOut 0.6s infinite;
}

/*----------------------------------------------------------
	#GO TO TOP
----------------------------------------------------------*/
.c-go-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: #444;
	font-size: 30px;
	line-height: 1;
	z-index: 2;
}

.c-go-to-top--active {
	display: block;
}

/*----------------------------------------------------------
	#TEASERS
----------------------------------------------------------*/
.c-teasers {
	padding: 160px 0 80px;
}

@media (--mobile) {
	.c-teasers {
		padding: 80px 0 40px;
	}
}

/*----------------------------------------------------------
	#TEASER
----------------------------------------------------------*/
.c-teaser__content-wrapper {
	display: block;
	color: inherit;
	margin-bottom: 80px;
}

.c-teaser__media {
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
}

.c-teaser__image {
	display: block;
	transition: all .2s ease-in-out;
}

.c-teaser:hover .c-teaser__image {
	transform: scale(1.2);
}

.c-teaser__caption {
	text-align: center;
}

.c-teaser__date {
	color: #999;
	margin-bottom: 20px;
}

.c-teaser__heading {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.c-teaser__tag {
	color: #999;
}

.c-edit__link,
.c-edit__link:visited {
	display: inline-block;
	color: #444;
	border-bottom: 1px solid #444;
	margin-bottom: 10px;
	margin-right: 10px;
	transition: all .2s ease-in-out;
}

.c-edit__link:hover {
	border-color: transparent;
}

.c-edit__link--light,
.c-edit__link--light:visited {
	color: #fff;
	border-color: #fff;
}

/*----------------------------------------------------------
	#PAGINATION
----------------------------------------------------------*/
.c-pagination {
	text-align: center;
}

.c-pagination__item {
	display: inline-block;
	margin-right: 10px;
}

.c-pagination__item:last-child {
	margin-right: 0;
}

.c-pagination__link,
.c-pagination__link:visited {
	font-size: 16px;
	color: #444;
}

.c-pagination__link--active {
	border-bottom: 1px solid #444;
}

.c-pagination__icon {
	font-size: 25px;
	vertical-align: middle;
	display: block;
	margin-top: 10px;
}

.c-pagination__icon--more {
	display: inline;
	margin-top: 0;
	margin-right: 10px;
}

/*----------------------------------------------------------
	#FORMS
----------------------------------------------------------*/
.c-form {
	margin: 0 auto;
}

.c-form--small {
	max-width: 400px;
	width: 100%;
}

.c-form--large {
	max-width: 500px;
	width: 100%;
}

.c-form--login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 20px;
}

.c-form__item {
	margin-bottom: 30px;
}

.c-form__input {
	width: 100%;
	padding: 15px;
	border: 1px solid #444;
	border-radius: 3px;
	font-size: 14px;
	outline: none;
	line-height: normal;
}

.c-form__input--light {
	border-color: #cacaca; /* Same as tinymce */
}

.c-form__input--simple {
	padding-left: 0;
	border: 0;
	border-radius: 0;
	background: none;
	color: #fff;
	font-size: 16px;
	border-bottom: 1px solid #3e3e3e;
	transition: border 0.2s ease-in-out;
}

.c-form__input--simple:focus {
	border-color: #fff;
}

.c-form__input--simple::placeholder {
	color: #ccc;
}

.c-form__label {
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 6px;
}

.c-form__label--wysiwyg {
	margin-bottom: 12px;
}

.c-form__label-optional {
	font-weight: normal;
	text-transform: none;
	margin-left: 6px;
	color: #aaa;
}

.c-form__heading {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto 48px;
}

.c-form__submit-btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.c-form__login-link {
	margin-left: 20px;
}

.c-form__login-link,
.c-form__login-link:visited,
.c-form__register-link,
.c-form__register-link:visited {
	color: #444;
	border-bottom: 1px solid #444;
	transition: all 0.2s ease;
}

.c-form__login-link:hover,
.c-form__register-link:hover {
	border-color: transparent;
}

.c-form__register-fields {
	margin-bottom: 30px;
}

/*----------------------------------------------------------
	#ERRORS
----------------------------------------------------------*/
.c-error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	word-wrap: break-word;
}

.c-error__msg {
	font-size: 48px;
	font-weight: 700;
}

@media(--mobile) {
	.c-error__msg {
		font-size: 32px;
	}
}

/*----------------------------------------------------------
	#ARTICLE
----------------------------------------------------------*/
.c-article {
	word-wrap: break-word;
}

.c-article__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

@media(--mobile) {
	.c-article__footer {
		justify-content: center;
	}
}

/*----------------------------------------------------------
	#SHARE
----------------------------------------------------------*/
.c-share__list {
	display: inline-block;
	text-align: center;
}

.c-share__item {
	display: inline-block;
	margin-right: 10px;
}

.c-share__item:last-child {
	margin-right: 0;
}

.c-share__link,
.c-share__link:visited {
	display: block;
	font-size: 12px;
	color: #aaa;
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;
	transition: border 0.2s ease-in-out;
}

.c-share__link:hover {
	border-color: #aaa;
}

.c-share__link:hover .c-share__icon {
	opacity: 0.8;
}

.c-share__icon {
	width: 20px;
	height: 20px;
	color: #444;
	opacity: 0.3;
	transition: opacity 0.2s ease;
}

/*----------------------------------------------------------
	#INFO BAR
----------------------------------------------------------*/
.c-info-bar {
	display: none; /* Show only if no cookie is set */
	position: relative;
	background: #FF2A68;
	color: #fff;
	text-align: center;
	box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,0.7);
}

.c-info-bar__msg {
	display: inline-block;
	padding: 20px;
}

.c-info-bar__close {
	vertical-align: middle;
	font-weight: 700;
	margin-left: 20px;
	transition: all 0.2s ease-in-out;
}

.c-info-bar__close:hover {
	transform: scale(1.5);
}

/*----------------------------------------------------------
	#S-TEXT
----------------------------------------------------------*/
.s-text h1,
.s-text h2 {
	font-family: 'Montserrat', 'Sans-serif';
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 16px;
}

@media (--mobile) {
	.s-text h1,
	.s-text h2 {
		font-size: 32px;
	}
}

.s-text h3 {
	font-family: 'Montserrat', 'Sans-serif';
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 8px;
}

@media (--mobile) {
	.s-text h3 {
		font-size: 24px;
	}
}

.s-text h4 {
	font-family: 'Montserrat', 'Sans-serif';
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
}

@media (--mobile) {
	.s-text h4 {
		font-size: 18px;
	}
}

.s-text p {
	font-family: 'Neuton', 'Serif';
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 32px;
}

.s-text p:last-of-type {
	margin-bottom: 0;
}

@media (--mobile) {
	.s-text p {
		font-size: 18px;
	}
}

.s-text ol,
.s-text ul {
	padding-left: 40px;
}

.s-text ol {
	list-style-type: decimal;
}

.s-text li {
	margin-bottom: 10px;
}

.s-text ul li {
	position: relative;
}

.s-text ul li:before {
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
	content: '';
	width: 7px;
	height: 7px;
	display: inline-block;
	border-radius: 50%;
	background: #444;
}

.s-text pre {
	border-radius: 2px;
}

@media (--mobile) {
	.s-text pre {
		font-size: 14px;
	}
}

.s-text blockquote p {
	font-size: 28px;
	font-style: italic;
	line-height: 1.3;
	color: #999;
}

.s-text blockquote {
	margin-bottom: 32px;
}

/*----------------------------------------------------------
	#TRUMPS
----------------------------------------------------------*/
.t-cf:after {
	content: '';
	display: table;
	clear: both;
}

.t-show-for-desktop {
	display: block;
}

@media (--mobile) {
	.t-show-for-desktop {
		display: none;
	}
}

.t-show-for-mobile {
	display: none;
}

@media (--mobile) {
	.t-show-for-mobile {
		display: block;
	}
}

.t-text-align-center {
	text-align: center;
}

.t-background-dark {
	background: #222;
}

.t-error {
	color: #FF2D55;
	display: block;
	margin: 0 auto;
	text-align: center;
}

/*----------------------------------------------------------
	#ANIMATIONS
----------------------------------------------------------*/
@keyframes fadeInOut {
	from {
		opacity: 0.2;
	}

	50% {
		opacity: 1.0;
	}

	to {
		opacity: 0.2;
	}
}