<footer id="contact" class="c-footer" role="contentinfo">
	<div class="c-footer__meta">
		<span class="c-footer__meta-heading">Powered by <a class="c-footer__meta-link" href="https://www.mongodb.com/">MongoDB</a>, <a class="c-footer__meta-link" href="http://expressjs.com/">Express.js</a>, <a class="c-footer__meta-link" href="http://handlebarsjs.com/">Handlebars.js</a> & <a class="c-footer__meta-link" href="https://nodejs.org/en/">Node.js</a></span>
		<a href="https://github.com/jonatanramhoj/node-blog" class="c-btn c-btn--x-small c-footer__meta-btn">Github</a>
	</div>
	<div class="c-footer__contact">
		<span class="c-footer__contact-heading">Code & design by Jonatan Ramhöj</span>
		<ul class="c-footer__contact-list">
			<li class="c-footer__contact-item">
				<a href="https://github.com/jonatanramhoj" class="c-footer__link">
					<img src="../../../img/github-logo.svg" alt="" class="c-footer__social-icon" />
				</a>
			</li>
			<li class="c-footer__contact-item">
				<a href="https://se.linkedin.com/in/jonatanramhoj" class="c-footer__link">
					<img src="../../../img/linkedin-sign.svg" alt="" class="c-footer__social-icon">
				</a>
			</li>
		</ul>
	</div>
</footer>