<footer id="contact" class="c-footer" role="contentinfo">
	<div class="c-footer__meta">
		<span class="c-footer__copyright">Powered by MongoDB, Express.js, Handlebars.js & Node.js</span>
	</div>
</footer>