<footer id="contact" class="c-footer c-section" role="contentinfo">
	<div class="c-footer__links">
		<div class="o-width-limiter o-width-limiter--large">
			<div class="o-grid">
				<div class="o-grid__col o-grid__col--3">
					<h4 class="c-footer__heading">Now</h4>
					<ul class="c-footer__list">
						<li class="c-footer__item">
							Frontend Developer
						</li>
						<li class="c-footer__item">
							Stockholm, Sweden
						</li>
					</ul>
				</div>
				<div class="o-grid__col o-grid__col--3">
					<h4 class="c-footer__heading">Contact</h4>
					<ul class="c-footer__list">
						<li class="c-footer__item">
							<a class="c-footer__link" href="mailto:jonatan.ramhoj@gmail.com">jonatan.ramhoj@gmail.com</a>
						</li>
						<li class="c-footer__item">
							<a class="c-footer__link" href="tel:+46736190035">+46736190035</a>
						</li>
						<li class="c-footer__item">
							<a class="c-footer__link" href="https://se.linkedin.com/in/jonatanramhoj">linkedIn</a>
						</li>
					</ul>
				</div>
				<div class="o-grid__col o-grid__col--3">
					<h4 class="c-footer__heading">Certificates</h4>
					<ul class="c-footer__list">
						<li class="c-footer__item">
							<a class="c-footer__link" href="http://www.mycertprofile.com/Profile/1832533083/90/1485/share">Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3</a>
						</li>
						<li class="c-footer__item">
							<a class="c-footer__link" href="https://www.google.com/partners/#p_certification_html;cert=3">Google Analytics Individual Qualification</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="c-footer__meta">
		<span class="c-footer__copyright">© 2016 Jonatan Ramhöj</span>
	</div> -->
</footer>
