<footer id="contact" class="c-footer" role="contentinfo">
	<div class="o-width-limiter o-width-limiter--x-large">
		<div class="c-footer__inner">
			<span class="c-footer__heading">
				<span>© 2017 Jonatan Ramhöj</span>
			</span>
			<ul class="c-footer__list">
				<li class="c-footer__item">
					<a href="https://github.com/jonatanramhoj" class="c-footer__link">
						<span class="c-footer__link-text">Github</span>
						<!-- <img src="../../../img/github-logo.svg" alt="" class="c-footer__social-icon t-show-for-mobile" /> -->
					</a>
				</li>
				<li class="c-footer__item">
					<a href="https://se.linkedin.com/in/jonatanramhoj" class="c-footer__link">
						<span class="c-footer__link-text">LinkedIn</span>
						<!-- <img src="../../../img/linkedin-sign.svg" alt="" class="c-footer__social-icon t-show-for-mobile"> -->
					</a>
				</li>
				<li class="c-footer__item">
					<a href="mailto:jonatan.ramhoj@gmail.com" class="c-footer__link">
						<span class="c-footer__link-text">Email</span>
						<!-- <img src="../../../img/envelope.svg" alt="" class="c-footer__social-icon t-show-for-mobile"> -->
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>