<div class="c-info-bar">
	<span class="c-info-bar__msg">This blog is a work in progress and will soon have real content. <button class="c-info-bar__close lnr-cross" title="Close" aria-hidden="true"></button></span>
</div>