<div class="c-footer__meta">
	<span class="c-footer__meta-heading">Powered by <a class="c-footer__meta-link" href="https://www.mongodb.com/">MongoDB</a>, <a class="c-footer__meta-link" href="http://expressjs.com/">Express.js</a>, <a class="c-footer__meta-link" href="http://handlebarsjs.com/">Handlebars.js</a> & <a class="c-footer__meta-link" href="https://nodejs.org/en/">Node.js</a></span>
	<a href="https://github.com/jonatanramhoj/node-blog" class="c-btn c-btn--x-small c-footer__meta-btn">Github</a>
</div>