<nav class="c-nav {{modifier}}" role="navigation">
	<ul class="c-nav__list t-cf">
		<li class="c-nav__item">
			<a href="/" class="c-nav__link">Blog</a>
		</li>
		<li class="c-nav__item">
			<a href="/article/new" class="c-nav__link">New article</a>
		</li>
		<li class="c-nav__item">
			<a href="#" class="c-nav__link">Sign out</a>
		</li>
	</ul>
</nav>