<nav class="c-nav" role="navigation">
	<a href="#" class="c-logo c-nav__link">Jonatan Ramhöj</a>
	<ul class="c-nav__list t-cf">
		<li class="c-nav__item">
			<a href="/" class="c-nav__link">Blog</a>
		</li>
	</ul>
</nav>