{{>nav}}

<section id="hero" class="c-hero c-hero--blog-post o-fixed-bg" role="banner">
	<div class="c-hero__inner js-fade-hero-content">
		<h1 class="c-hero__heading">BEMIT</h1>
		<span class="c-hero__subheading"><span class="c-hero__tag">16 Mars 2016</span><span class="c-hero__tag">By Jonatan Ramhöj</span><span class="c-hero__tag">#CSS</span></span>
		<a href="/" class="c-btn c-btn--secondary">More articles</a>
	</div>
	<a href="#article" class="c-hero__arrow c-hero__arrow--active js-go-to-section js-fade-hero-content"><i class="lnr-chevron-down"></i></a>
	<aside class="c-hero__overlay"></aside>
</section>

<div role="main">
	<section id="article" class="c-section">
		<div class="o-width-limiter o-width-limiter--x-small">
			<article class="c-article">
				<h2 class="c-article__heading">Lorem ipsum dolor!</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Eos et asperiores aperiam fugit perferendis debitis rem
					corporis iusto est sint autem expedita, <a href="#" class="c-article__link">quisquam tempora</a>
					quae minus! Commodi totam autem placeat.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Eos et asperiores aperiam fugit perferendis debitis rem
					corporis iusto est sint autem expedita, quisquam tempora
					quae minus! Commodi totam autem placeat.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Eos et asperiores aperiam fugit perferendis debitis rem
					corporis iusto est sint autem expedita, quisquam tempora
					quae minus! Commodi totam autem placeat.
				</p>
				<code class="c-code">
					$(document).ready(function () {<br>
					alert('Hello world');<br>
					});
				</code>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Eos et asperiores aperiam fugit perferendis debitis rem
					corporis iusto est sint autem expedita, quisquam tempora
					quae minus! Commodi totam autem placeat.
				</p>
				<code class="c-code">
					$(document).ready(function () {<br>
						alert('Hello world');<br>
					});
				</code>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Eos et asperiores aperiam fugit perferendis debitis rem
					corporis iusto est sint autem expedita, quisquam tempora
					quae minus! Commodi totam autem placeat.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Eos et asperiores aperiam fugit perferendis debitis rem
					corporis iusto est sint autem expedita, quisquam tempora
					quae minus! Commodi totam autem placeat.
				</p>
			</article>
		</div>
	</section>
</div>

<div class="c-pagination">
	<a href="/" class="c-pagination__button"><i class="c-pagination__icon c-pagination__icon--more lnr-arrow-left"></i>More articles</a>
</div>

{{>copyright}}