<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="author" content="Jonatan Ramhöj">
	<meta name="description" content="A frontend blog">
	<meta name="keywords" content="Blog, Frontend, UI,
	UX, Interaction design, Usability, Accessibility, Design">
	<link rel='stylesheet' href='/css/fonts.css' />
	<link rel='stylesheet' href='/css/reset.css' />
	<link rel='stylesheet' href='/css/style.css' />
	<link rel='stylesheet' href='/js/vendor/prism/prism.css' />
	<script>document.getElementsByTagName('html')[0].className += ' js';</script>
	<!--[if lt IE 9]>
		<script type="text/javascript">
			window.location = "http://outdatedbrowser.com/en";
		</script>
	<![endif]-->
</head>
<body>
{{{body}}}
<aside class="c-loading-screen"></aside>
<script src="/js/jquery-2.2.0.js"></script>
<script src="/js/vendor/tinymce/tinymce.min.js"></script>
<script src="/js/vendor/prism/prism.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
