<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<!-- TODO: Remove this tag on release -->
	<meta name="robots" content="noindex">
	<meta name="author" content="Jonatan Ramhöj">
	<meta name="description" content="Code blog">
	<meta property="og:title" content="Jonatan Ramhöj / Frontend developer">
	<meta property="og:site_name" content="jonatanramhoj.co">
	<meta property="og:url" content="http://www.jonatanramhoj.co">
	<meta property="og:description" content="Code blog">
	<meta property="og:type" content="Blog">
	<meta property="og:image" content="">
	<link rel="icon" type="image/png" href="../img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../img/favicon-16x16.png" sizes="16x16" />
	<link rel='stylesheet' href='/dist/css/all.min.css' />
	<script>document.getElementsByTagName('html')[0].className += ' js';</script>
	<!--[if lt IE 9]>
		<script type="text/javascript">
			window.location = "http://outdatedbrowser.com/en";
		</script>
	<![endif]-->
	{{#if newArticle}}
	<!-- The best place for this one is your <HEAD> tag -->
	<script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
	<script src="https://ucarecdn.com/widget/2.9.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>
	{{/if}}
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-79886254-1', 'auto');
	ga('send', 'pageview');
	</script>
</head>
<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>
{{{body}}}
<aside class="c-loading-screen"></aside>
{{#if user}}<script src="/js/vendor/tinymce/tinymce.js"></script>{{/if}}
<script src="/dist/js/all.min.js"></script>
</body>
</html>
