<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="author" content="Jonatan Ramhöj">
	<meta name="description" content="Blog about frontend development">
	<meta name="keywords" content="Blog, Frontend, UI,
	UX, Interaction design, Usability, Accessibility, Design">
	<meta property="og:title" content="Jonatan Ramhöj / Frontend developer / Blog author">
	<meta property="og:site_name" content="jonatanramhoj.co/blog">
	<meta property="og:url" content="http://www.jonatanramhoj.co/blog">
	<meta property="og:description" content="Articles about frontend development">
	<meta property="og:type" content="Blog">
	<meta property="og:image" content="">
	<link rel="icon" type="image/png" href="../img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../img/favicon-16x16.png" sizes="16x16" />
	<!-- <link rel='stylesheet' href='/css/fonts.css' />
	<link rel='stylesheet' href='/css/reset.css' />
	<link rel='stylesheet' href='/css/style.css' /> -->
	<link rel='stylesheet' href='/dist/css/all.min.css' />
	<link rel='stylesheet' href='/js/vendor/prism/prism.css' />
	<script>document.getElementsByTagName('html')[0].className += ' js';</script>
	<!--[if lt IE 9]>
		<script type="text/javascript">
			window.location = "http://outdatedbrowser.com/en";
		</script>
	<![endif]-->
</head>
<body>
{{{body}}}
<aside class="c-loading-screen"></aside>
<!-- <script src="/js/jquery-2.2.0.js"></script> -->
<script src="/js/vendor/tinymce/tinymce.js"></script>
<script src="/js/vendor/prism/prism.js"></script>
<!-- <script src="/js/main.js"></script> -->
<script src="/dist/js/all.min.js"></script>
</body>
</html>
