<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<!-- TODO: Remove this tag on release -->
	<meta name="robots" content="noindex">
	<meta name="author" content="Jonatan Ramhöj">
	<meta name="description" content="Code blog">
	<meta property="og:title" content="Jonatan Ramhöj / Frontend developer">
	<meta property="og:site_name" content="jonatanramhoj.co">
	<meta property="og:url" content="http://www.blog.jonatanramhoj.co/">
	<meta property="og:description" content="Code blog">
	<meta property="og:type" content="Blog">
	<meta property="og:image" content="">
	<link rel="icon" type="image/png" href="../img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../img/favicon-16x16.png" sizes="16x16" />
	<link rel='stylesheet' href='/dist/css/all.min.css' />
	<script>document.getElementsByTagName('html')[0].className += ' js';</script>
	<!--[if lt IE 9]>
		<script type="text/javascript">
			window.location = "http://outdatedbrowser.com/en";
		</script>
	<![endif]-->
	{{#if newArticle}}
	<!-- The best place for this one is your <HEAD> tag -->
	<script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
	<script src="https://ucarecdn.com/widget/2.9.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>
	{{/if}}
</head>
<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-55LFW8"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-55LFW8');</script>
<!-- End Google Tag Manager -->
{{{body}}}
<aside class="c-loading-screen"></aside>
{{#if user}}<script src="/js/vendor/tinymce/tinymce.js"></script>{{/if}}
<!--This sets the baseUrl to the "js" directory, and
	loads a script that will have a module ID of 'all'-->
<script src="/js/require.js"></script>
<!-- <script src="/dist/js/all.min.js"></script> -->

<script type="text/javascript">
	require({ baseUrl: '/js' }, ['/dist/js/all.min.js']);
</script>

</body>
</html>
