<div role="main">
	<form class="c-form c-form--small c-form--login" action="/login" method="post">
		<h1 class="c-form__heading">Log in</h1>
		<div class="c-form__item">
			<input class="c-form__input c-form__input--simple" type="text" name="username" id="username" placeholder="Username" required autofocus>
		</div>
		<div class="c-form__item">
			<input class="c-form__input c-form__input--simple" type="password" name="password" id="password" placeholder="Password" required>
		</div>
		<button class="c-btn c-btn--login c-form__submit-btn" type="submit" name="button">Log in</button>
		{{#if message}}
		<span class="t-error">{{message}}</span>
		{{/if}}
	</form>
</div>