{{>nav}}

<div role="main">
	<h1>New Article</h1>
	<form action="/article/new" method="post">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="heading" placeholder="Heading">
		<textarea name="body" rows="8" cols="40"></textarea>
		<input type="text" name="tags" placeholder="Tags">
		<button type="submit" name="button">Save article</button>
	</form>

</div>


{{>copyright}}