{{> nav modifier="c-nav--new"}}

<section id="hero" class="c-hero c-hero--small" role="banner">
	<div class="c-hero__inner js-fade-hero-content">
		<h1 class="c-hero__heading">{{title}}</h1>
	</div>
</section>

<div role="main">
	<div class="o-width-limiter o-width-limiter--small">
		<form class="c-form" action="/article/new" method="post">
			<fieldset class="c-form__item">
				<label class="c-form__label" for="image">Image <span class="c-form__label-optional">(Optional)</span></label>
				<input class="c-form__input" type="text" name="image" id="image" placeholder="www.loremipsum/myimage.jpg">
			</fieldset>
			<fieldset class="c-form__item">
				<label class="c-form__label" for="tags">Tags <span class="c-form__label-optional">(Optional)</span></label>
				<input class="c-form__input" type="text" name="tags" id="tags" placeholder="#react #angular #ember">
			</fieldset>
			<fieldset class="c-form__item">
				<label class="c-form__label" for="title">Title <span class="c-form__label-optional">(Required)</span></label>
				<input class="c-form__input" type="text" name="title" id="title" placeholder="lorem ipsum dolor sit amet" required>
			</fieldset>
			<fieldset class="c-form__item">
				<label class="c-form__label c-form__label--wysiwyg" for="body">Body <span class="c-form__label-optional">(Required)</span></label>
				<textarea class="c-form__wysiwyg" name="body" required></textarea>
			</fieldset>
			<button class="c-btn c-btn--small" type="submit" name="button">Publish</button>
		</form>
	</div>
</div>

{{>copyright}}