{{>nav modifier="c-nav--dark"}}

<div role="main">
	<section class="c-section c-section--limited">
		<div class="o-width-limiter o-width-limiter--x-small">
			<form class="c-form" action="/signup" method="post">
				<legend class="c-form__heading">Create account</legend>
				<div class="c-form__register-fields">
					<div class="o-grid">
						<div class="o-grid__col o-grid__col--2">
							<fieldset class="c-form__item">
								<label class="c-form__label" for="username">Username</label>
								<input class="c-form__input" type="text" name="username" id="username" placeholder="DarthVader666" required autofocus>
							</fieldset>
							<fieldset class="c-form__item">
								<label class="c-form__label" for="password">Password</label>
								<input class="c-form__input" type="password" name="password" id="password" placeholder="DeathStar666" required>
							</fieldset>
							<fieldset class="c-form__item">
								<label class="c-form__label" for="email">Email</label>
								<input class="c-form__input" type="email" name="email" id="email" placeholder="darth@vader.com" required>
							</fieldset>
						</div>
						<div class="o-grid__col o-grid__col--2">
							<fieldset class="c-form__item">
								<label class="c-form__label" for="firstname">Firstname</label>
								<input class="c-form__input" type="text" name="firstname" id="firstname" placeholder="Darth" required>
							</fieldset>
							<fieldset class="c-form__item">
								<label class="c-form__label" for="lastname">Lastname</label>
								<input class="c-form__input" type="text" name="lastname" id="lastname" placeholder="Vader" required>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="o-grid">
					<div class="o-grid__col o-grid__col--2">
						<button class="c-btn" type="submit" name="button">Register</button>
						<a href="/login" class="c-form__login-link">Go to login</a>
						{{#if message}}
							<span class="t-error">{{message}}</span>
						{{/if}}
					</div>
				</div>
			</form>
		</div>
	</section>
</div>

{{>footer}}